.pagination {
  padding-top: 10px;
}

.pagination .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .container .page {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--orange-color);
  color: var(--orange-color);
  font-weight: 600;
  transition: opacity 0.4s;
  outline: none;
}

.pagination .container .page:not(.active):hover {
  opacity: 0.7;
}

.pagination .container .page:not(:last-child) {
  border-right: 0;
}

.pagination .container .page.active {
  background-color: var(--orange-color);
  color: white;
}

.pagination .container .page.prev {
  border-radius: 26px 0 0 26px;
  width: 70px;
}

.pagination .container .page.next {
  border-radius: 0 26px 26px 0;
  width: 70px;
}

.pagination .container .page.prev:disabled,
.pagination .container .page.next:disabled {
  pointer-events: none;
  opacity: 0.5;
}
