.tour-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  margin-bottom: 20px;
}

.tour-header .search-result {
  color: #9b9898;
}

.tour-header .search-result i {
  margin-left: 5px;
}

select {
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  border: none;
  outline: none;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 40px;
}
