.tour-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  margin-top: 20px;
}

.tour-header .container .search-result {
  color: #9b9898;
}

.tour-header .container .search-result i {
  margin-left: 5px;
}

select {
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
}
